/* CONTENU*/

.containerFormations{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.iut, .lycee{
  display: flex;
  width: 100%;
  margin-bottom: 5vh;
  align-items: center;
}

.gauche, .droite{
  width: 50%;
}

.gauche{
  margin-left: 10vw;
}

.droite{
  text-align: center;
}

.droite img{
  width: 50%;
  height: 90%;
}

.iut{
  border-bottom: 2px solid gray;
}