/* CONTENU*/

.containerFormations{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.iut, .lycee{
  display: flex;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: center;
}

.iut{
  border-bottom: 0.2em solid gray;
}

.gauche, .droiteFrm{
  width: 50%;
}

.gauche{
  margin-left: 10vw;
  background-color: white;
  padding: 2em;
  border: 0.1em solid black;
  box-shadow: 0.3em 0.3em 0.3em black;
}

.gauche p{
  text-align: justify;
}

.droiteFrm{
  text-align: center;
}

.droiteFrm img{
  width: 50%;
  margin-bottom: 1em;
}

/*    MOBILE    */

.iutM, .lyceeM{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
}

.iutM{
  border-bottom: 0.1em solid gray;
}

.lyceeM{
  margin-top: 1em;
}

.gaucheM{
  margin: 0 1em;
  background-color: white;
  padding: 1em;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em black;
}

.gaucheM p{
  text-align: justify;
  font-size: 14px;
}

.gaucheM h1{
  font-size: 18px;
}


.droiteFrm-M{
  text-align: center;
}

.droiteFrm-M img{
  width: 70%;
}