html{
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', Helvetica,
    sans-serif;
  width: 100%;
  min-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
